# Enable lombok annotations
lombok.accessors.chain=true
lombok.fieldDefaults.defaultPrivate=true
lombok.fieldDefaults.defaultFinal=false
lombok.addLombokGeneratedAnnotation=true
lombok.equalsAndHashCode.callSuper=call
lombok.toString.callSuper=call
# Allow @Data and @Builder
# lombok.data.flagUsage=error
# lombok.builder.flagUsage=error
lombok.value.flagUsage=error
lombok.experimental.flagUsage=error
lombok.val.flagUsage=error
lombok.var.flagUsage=error
lombok.nonNull.flagUsage=error
lombok.cleanup.flagUsage=error
lombok.sneakyThrows.flagUsage=error
lombok.synchronized.flagUsage=error
lombok.getter.noIsPrefix=false
lombok.copyableAnnotations+=org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations+=org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations+=org.springframework.context.annotation.Lazy 